.list-item {
	display: inline-block;
	font-size: 1.1rem;
	color: var(--darkest-grey);
}

.list-item-link {
	padding: 1rem;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 100%;
		width: 0%;
		height: 1px;
		background-color: var(--darkest-grey);
		transition: width 0.1s ease-out;
	}

	&:hover:after {
		width: 100%;
	}
}
