.list-item {
	display: inline-block;
	font-size: 1.1rem;
	color: var(--darkest-grey);
}

.list-item-link {
	display: block;
	position: relative;
	padding: 1rem;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 100%;
		width: 0%;
		height: 1px;
		background-color: var(--darkest-grey);
		transition: width 0.1s ease-out;
	}

	&:hover:after {
		width: 100%;
	}
}

@media (max-width: 950px) {
	.list-item {
		display: block;
		text-align: right;
		background-color: var(--bg-white);
		margin-top: -1px;
	}

	.list-item-link {
		padding: 1rem 2rem;
		transition: padding 0.2s ease;

		&:after {
			display: none;
		}

		&:hover {
			padding-right: 2.2rem;
		}
	}
}
