.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.content {
	transform: translateY(-10vh);
	margin: 0 2.1rem;
}

.subtext {
	color: var(--accompany-grey);
	font-size: 1rem;
}

.fullname {
	color: var(--darkest-grey);
	font-size: 5rem;
	margin-left: -6px;
	margin-bottom: 4px;
}

.links {
	display: inline-grid;
	align-items: center;
	grid-auto-flow: column;
	gap: 16px;

	margin-top: 18px;
	margin-right: 24px;

	img {
		width: 40px;
		height: 40px;
		transition: transform 0.1s ease;

		&:hover {
			transform: scale(1.1);
		}
	}

	.email {
		display: flex;
		align-items: center;

		p {
			width: 0ch;
			margin: 0 16px;
			transform: translateY(-2px);
			transition: width 0.2s ease;
			overflow: hidden;
		}

		&:hover p {
			width: 25ch;
		}
	}
}
