:root {
	--primary-eye: #e93434;
	--darkest-grey: #333;
	--accompany-grey: #444;
	--soft-white: #fcfcfc;
	--bg-white: #fdfdfd;
	--border-grey: #b3b3b3;
	--border-mid-grey: #999999;
	--mobile-width: 950px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--bg-white);
	color: var(--darkest-grey);
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.6rem;
}
