.info-block-list {
	> div:nth-of-type(even) {
		flex-direction: row;
	}

	> div:nth-of-type(odd) {
		flex-direction: row-reverse;
	}
}

@media (max-width: 950px) {
	.info-block-list {
		> div {
			flex-direction: column !important;
		}
	}
}
